/* section.mail-list {
    flex-grow: 2;
    padding: 20px;
    border-radius: 20px;
    display: flex;
} */

.mail-container {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    table-layout: auto; 
}

.mail-container tr {
    transition: all 0.3s ease;
    border-bottom: 1px solid #ddd;
}
.mail-container td {
    padding: 10px;
    width: auto; 
}

.mail-container tr:hover {
    background-color: #fff;
    transform: scale(1.02);
    box-shadow: 0 4px 8px #1e1e1e1a;
    z-index: 1;
    position: relative;
}


.mail-actions {
    display: flex;
    gap: 10px;
}

.mail-actions button {
    background: #cce5ff;
    border: none;
    padding: 8px;
    border-radius: 50px;
    cursor: pointer;
}

.mail-actions .icon {
    width: 20px;
    height: 22px;
    margin: auto;
    vertical-align: middle;

}

.mail-container tr:hover {
    background-color: #f1f1f1;
}


.star-btn {
    padding: 0;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star-btn .icon {
    width: 20px;
    height: 22px;
    margin: 0; 
}

.star-btn:hover {
    background-color: #b0d4f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    padding: 4px;
}

td .star-btn:hover {
    padding: 0px;
}

table .mail-container{
    display: flex;

}