.sidebar {
    width: 250px;
    background-color: rgb(246, 248, 252);
    display: flex;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    align-items: center;
    padding: 0.3em;
    cursor: pointer;
    font-size: 16px;
    color: #444;
    width: 12em;
    margin-left: 2.5em;
    margin-bottom: .2em;
}

.sidebar ul li img.icon {
    width: 20px;
    height: 25px;
    vertical-align: middle;
}


.sidebar ul li .count {
    font-size: 14px;
    color: #888;
}

.sidebar ul li:hover {
    background-color: rgb(235, 237, 241);
    border-radius: 0px 15px 15px 0px;
}

.sidebar ul li:active {
    background-color: #d6e9ff;
}

.selected-link{
    background-color: rgb(211 227 253);
    border-radius: 0px 15px 15px 0px;
    font-weight: bold;
   
}