.mail-list{
    flex-grow: 1;
    padding: 20px;
    border-radius: 10px solid #ddd;
  
}
 .mail-container {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.mail-container tr {
    padding: 0.5em;
    transition: all 0.3s ease;
    border-top: 1px solid #ddd;
}

.mail-container tr:hover {
    background-color: #fff;
    transform: scale(1.02); 
    box-shadow: 0 4px 8px #1e1e1e1a; 
    z-index: 1; 
    position: relative; 
}


.mail-actions {
    display: flex;
    gap: 10px;
}

.mail-actions button {
    background:  #cce5ff;
    color: rgb(6, 5, 5);
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.mail-actions .icon{
    width: 20px;
    height: 22px;
    margin: auto;
    vertical-align: middle;

}

.mail-container tr:hover {
    background-color: #f1f1f1;
}

