.sidebar {
    width: 250px;
    background-color: rgb(246, 248, 252);
    display: flex;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar ul li {
    width: 12em;
    padding: 0.3em;
    color: #444;
    margin-left: 0;
    margin-bottom: .2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    cursor: pointer;
}

.sidebar ul li img.icon {
    width: 20px;
    height: 25px;
    vertical-align: middle;
    margin-right: 15px;
}


.sidebar ul li:hover {
    background-color: rgb(235, 237, 241);
    border-radius: 0px 15px 15px 0px;
}

.sidebar ul li:active {
    background-color: #d6e9ff;
}

.selected-link {
    background-color: rgb(211 227 253);
    border-radius: 0px 15px 15px 0px;
    font-weight: bold;

}

.sidebar span {
    margin-left: auto;
    font-size: 1rem;
    letter-spacing: normal;
    color: rgb(95, 99, 104);
    display: block;
    margin-left: auto;
    padding-left: 10px;
}

.sidebar a{
    color: #444;
    width: 100%;
    text-decoration: none; 
    display: flex;
    align-items: center;
}