@font-face {
    font-family: ShadowsIntoLight;
    src: url('../../fonts/ShadowsIntoLight-Regular.ttf');
}

@font-face {
    font-family: RobotoLight;
    src: url('../../fonts/Roboto-Light.ttf');
}


