.note-list-container {
    flex: 1 1 auto;
    overflow-y: auto;
}

.note-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    padding: 20px;
}

.note-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: start;
    word-wrap: break-word;
    max-height: 350px;
    overflow: hidden;
    position: relative; /* Make sure we can position child elements absolutely */
}

.audio-content {
    flex-grow: 1;
    overflow-y: auto;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
    position: absolute; /* Positioning relative to the parent note item */
    bottom: 10px; /* Position at the bottom */
    right: 10px; /* Position at the right */
}

.note-item:hover .buttons-container {
    opacity: 1; /* Show buttons on hover */
}

.note-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
}

.icon-button:hover {
    background: #e8e8e8;
    border-radius: 50%;
}

.icon-button .icon {
    width: 24px;
    height: 30px;
}

/* Updated Note Card Styles for Larger Cards */
.note-card {
    position: relative; /* Make sure we can position child elements absolutely */
    padding: 30px; /* Increased padding for more space inside the card */
    border-radius: 8px;
    margin-bottom: 10px;
    transition: box-shadow 0.3s ease;
    min-height: 150px; /* Set a minimum height for the note card */
    width: 450px; /* Set a fixed width for the note card */
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
    position: absolute; /* Positioning relative to the parent note card */
    bottom: 10px; /* Position at the bottom */
    right: 10px; /* Position at the right */
}

.note-card:hover .buttons-container {
    opacity: 1; /* Show buttons on hover */
}

.note-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}