.note-list-container {
    flex: 1 1 auto;
    overflow-y: auto;
}

.note-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* רווחים שווים בין הכרטיסיות */
    padding: 20px;
}


.note-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: start;
    word-wrap: break-word;
    max-height: 350px;
    overflow: hidden;
}

.audio-content {
    flex-grow: 1;
    overflow-y: auto;
}

.note-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.note-item:hover .buttons-container {
    opacity: 1;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
}

.icon-button:hover {
    background: #e8e8e8;
    border-radius: 50%;
}

.icon-button .icon {
    width: 24px;
    height: 30px;
}

.note-card {
    background-color: #f0f0f0; /* צבע רקע לכרטיסיה */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    width: 200px; /* גודל קבוע לכרטיסיות */
    transition: transform 0.2s; /* אפקט של הזזה */
}

.note-card:hover {
    transform: scale(1.05); /* אפקט של הגדלה כשמעבירים מעל */
}


.note-card {
    background-color: #f0f0f0; /* צבע רקע לכרטיסיה */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    width: 200px; /* גודל קבוע לכרטיסיות */
    transition: transform 0.2s; /* אפקט של הזזה */
}

.note-card:hover {
    transform: scale(1.05); /* אפקט של הגדלה כשמעבירים מעל */
}