.note-form {
    border: none; /* Remove border */
    border-radius: 8px; 
    padding: 16px; 
    margin: 20px 0; 
    background-color: #fff; /* White background */
    box-shadow: none; /* Remove box-shadow */
}

.note-form textarea {
    width: 100%; 
    height: 100px; 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    resize: none; 
}

.note-form button {
    background-color: #007bff; 
    color: white; 
    border: none; /* No border */
    border-radius: 4px; /* Adjusted to 4px for a less round button */
    padding: 8px 12px; 
    cursor: pointer; 
    margin-top: 10px; 
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.note-form button:hover {
    background-color: #0056b3; 
}

.note-form .cancel-button {
    background-color: #13a6ab; 
}

.note-form .cancel-button:hover {
    background-color: #1f21bd; 
}
