.note-index-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 90%;
    padding-top: 80px;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    /* border-right: 1px solid #e0e0e0; */
}

.search-bar {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 2px;
    font-size: 16px;
    margin-left: 3px;
    transition: border-color 0.3s; 
}

.search-bar::placeholder {
    color: #aaa; 
}

.search-bar:focus {
    outline: none;
    border-color: #1a73e8; 
    box-shadow: 0 0 5px rgba(26, 115, 232, 0.5); 
}

.note-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: box-shadow 0.3s ease;
    min-height: 150px;
    /* max-width: 400px; */
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    overflow: hidden;
    flex-grow: 1;
    align-content: stretch;
    justify-content: center;
    align-items: flex-end;
}
.note-input {
    width: 100%; 
    border: none; 
    padding: 10px; 
    color: rgba(0, 0, 0, 0.7);
    border-radius: 4px; 
    margin-bottom: 10px; 
    resize: none; 
    letter-spacing: .0178571429em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    height: 5px;
    max-height: none; 
    overflow-y: hidden; 
}

.add-note-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.note-input:last-child {
    margin-bottom: 0;
}

.note-input:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(241, 243, 244, 0.5); 
}



.add-note-container {
    width: 300px;
    margin-bottom: 20px;

    border-radius: 8px;
    padding: 10px;
    transition: max-height 0.3s ease;
}

.take-note-input span {
    flex: 1;
    font-size: 16px;
    color: #555;
}


button:hover {
    background-color: #0056b3; 
}
