

.note-list {
    display: flex;
    flex-wrap: wrap;

    padding: 20px;
}

.note-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: start;
    word-wrap: break-word;
    max-height: 350px;
    overflow: hidden;
    position: relative; 
}

.audio-content {
    flex-grow: 1;
    overflow-y: auto;
}

.buttons-container {
    display: flex; /* Use flexbox to align buttons horizontally */
    justify-content: flex-end; /* Align buttons to the right */
    align-items: center; /* Center items vertically */
    gap: 10px; /* Space between buttons */
}

.note-item:hover .buttons-container {
    opacity: 1; 
}

.note-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon-button {
    background: none; 
    border: none; 
    cursor: pointer;
    padding: 5px; 
    border-radius: 50%; 
    transition: background-color 0.3s ease; 
}

.icon-button:hover {
    background-color: #e8e8e8; 
}

.icon-button .icon {
    width: 24px; 
    height: 24px; 
}

.note-card {
    position: relative; 
    padding: 30px; 
    border-radius: 8px;
    margin-bottom: 10px;
    transition: box-shadow 0.3s ease;
    min-height: 150px; 
    width: 350px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 15px; 
    max-height: 500px; 
    overflow: hidden; 
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    opacity: 0; 
    transition: opacity 0.3s ease;
    position: absolute; 
    bottom: 10px; 
    right: 10px;
}

.note-card:hover .buttons-container {
    opacity: 1; 
}

.note-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    height: 100%;
    border-right: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar nav ul li {
    display: flex;
    align-items: center;
    padding: 12px;
    cursor: pointer;
    font-size: 16px;
    color: #444;
}

.sidebar nav ul li img.icon {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.sidebar nav ul li.selected, 
.sidebar nav ul li:hover {
    background-color: #e6f7ff;
    color: #1a73e8;
    border-radius: 5px;
}

.sidebar nav ul li .count {
    margin-left: auto;
    font-size: 14px;
    color: #888;
}

.sidebar nav ul li.selected .count {
    color: #1a73e8;
}

.sidebar nav ul li.selected img.icon,
.sidebar nav ul li:hover img.icon {
    filter: brightness(0.6);
}

.sidebar nav ul li:hover {
    background-color: #ebebeb;
}

.sidebar nav ul li:active {
    background-color: #d6e9ff;
}

.icon {
    width: 24px; 
    height: 24px; 
    margin-right: 10px; 
}

button {
    background: none; 
    border: none; 
    cursor: pointer; 
    padding: 0; 
    outline: none; 
    transition: background-color 0.3s; 
}


