.mail-index {
    background-color: rgb(246, 248, 252);
}

.page{
    display: flex;
}

.left{
    display: flex;
    min-width: 330px;
}


.mail-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.mail-container-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    padding-top: 10px;  
}

