.book-filter {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #f9f9f9;
    margin-block-start: 10px;
}

.book-filter h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.book-filter .filter-input {
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}