header {
    background: white;
    border-bottom: 2px solid #0d0909;;
    font-family: ShadowsIntoLight, sans-serif;
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}

.logo img {
    width: 40px;
    height: 40px;
    margin: 10px; 
}

nav a {
    margin: .5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}