* {
  box-sizing: border-box;
}

html {
  font-family: roboto-regular;
  background-color: #CBC0D3;
  color: #8E9AAF;
}

body {
  font-family: roboto-regular;
  margin: 0;
 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
}



/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold
}